.top{
    border: none;
    font-size: 20px;
    /* margin: 2vw; */
    align-items: left;
    /* text-align: right; */
}

.mid{
    color: rgb(0, 0, 0);
    text-shadow: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-top: 2vw;
    text-align: center;
    font-size: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;   
}
  
.grid-item {
    text-align: justify;
    padding: 20px;
}

.footer{
    padding: 50px;
    padding-left: 100px;
}

@media only screen and (max-width: 100px) {
    /* For mobile phones: */
    .top .mid .grid-container .footer .grid-item{
        align-content: center;
        width: 100%;
    }
    .b1 {
        float: none;
    }
}